<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ttxnetdemo"
    android:versionCode="10104"
    android:versionName="1.0" >

    <!--uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="30" /-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.example.ttxnetdemo.MainActivity$MessageReceiver">  
	    	<intent-filter>  
	        	<action android:name="net.babelstar.MESSAGE_RECEIVED_LIVE"/>  
	        	<action android:name="net.babelstar.MESSAGE_RECEIVED_TTS"/>  
	    	</intent-filter>  
		</receiver>
		
       
    </application>
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>
